<header class="navbar navbar-expand-md navbar-toggleable-sm navbar navbar-dark bg-blue fixed-top">
    <nav class="container">
        <a class="navbar-brand" href="{{ url_for("home") }}">
            <img class="align-middle"  src="{{ base_path() }}/assets/img/favicon.png"   width="24">
            <span class="align-middle ml-2">{{ apptitle }}</span>
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target=".main-menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse bg-blue collapse main-menu">
         
        </div>
    </nav>
</header>
<div class="separator"></div>