{% extends isAjaxRequest != true ? "base.twig" : "ajax.twig" %}

{% block body %}
<div class="alert alert-secondary" role="alert">
    <h3 class="alert-heading">{{ apptitle }}</h3><hr>
    <p class="mt-3 text-center">
        Sorry, an error has occured,<br>
        Access forbidden!
    </p>
    {% if ServerSignature %}
        <hr>
        <p class="text-right mb-0">{{ ServerSignature }}</p>
    {% endif %}
</div>
{% endblock %}